{% extends "base.html" %}
{% block content %}

<!-- <div class="col-md-8 offset-md-2"> -->
<center><h1>Blog Index</h1></center>
<div class = "row">
  {% for post in posts %}
      <div class = "col-md-6">
        <div class = "card mb-3">
          <div class = "card-body">
            <!-- <h2 class = "card-title"><a href="{% url 'algorithms:blog_detail' post.pk%}">{{ post.title }}</a></h2> -->
            <h3 class = "card-title">{{ post.title | slice:":73" }}</h3>
            <small>
            || Posted on: {{ post.created_on.date }} ||&nbsp; Tags:
              <!-- <p class = "card-title"> Categories:&nbsp; </p> -->
              {% for category in post.categories.all %}
              <a href="{% url 'algorithms:blog_category' category.name %}">
                {{ category.name }}
              </a>&nbsp;||
              {% endfor %}
              <br>
              <br>
              </small>
              <p class = "card-text">{{ post.body | slice:":100" }}...</p>
              <a href="{% url 'algorithms:blog_detail' post.pk %}"
                 class="btn btn-outline-success">
                  Read More
              </a>
              </div>
          </div>
      </div>
    {% endfor %}
</div>
{% endblock content %}
